---
import { Picture } from "astro:assets";
import appStoreImage from "assets/app-store.png";
---

<a href="https://apps.apple.com/app/apple-store/id1633207843?pt=115289802&ct=landing&mt=8">
<Picture
  src={appStoreImage}
  alt="App Store"
  height=70
  loading="eager"
  format="avif"
/>
</a>
