---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Cash Flow Projections",
    description:
      "Visualize future cash flow trends with accuracy",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Diverse Operation Assessments",
    description:
      "Evaluate various operational aspects for comprehensive insights",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Tailored Tax Estimations",
    description:
      "Estimate tax implications for personalized investment strategies",
    icon: "bx:bxs-data",
  },
  {
    title: "Price Analysis Tools",
    description:
      "Determine optimal prices and rental recovery rates",
    icon: "bx:bxs-bot",
  },
];
---

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
