---
import { Picture } from "astro:assets";
import heroImage from "assets/app-icon.png";
import DownloadAppStore from "prebuilt-components/download-app-store.astro";
import '../styles/global.css';
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <Picture
      src={heroImage}
      alt="Solt"
      width=200
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
      class="w-full rounded-md rounded transition group-hover:-translate-y-1 group-hover:shadow-xl bg-white object-cover object-center aspect-square"
    />
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Achieve Peak Real Estate Profitability
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl secondary-color">
      Are you investing in Real Estate? Solt is for you.
      <br />
      Step onto the cutting edge of investment 
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <DownloadAppStore />
    </div>
  </div>
</main>
